# Model saving directory
carla_garage_logdir/*

# Data generation
datagen_carla_garage/

# Evaluation Results
Evaluation_Results/

# All DS_Store files
**/.DS_Store

# Ignore .ssh
.ssh/

# Ignore data collection scripts
Data_Collection_Scripts/

# Ignore Evaluation_Scripts
Evaluation_Scripts/Job_Files/
Evaluation_Scripts/Start_Carla_Job_Scripts/

# Ignore all changes pycache directory
**/__pycache__/
*.pyc